.App {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
}
.ingresa-tarea{
  border-bottom: 1px solid #ccc;
}
.ingresa-tarea .md-form,
.ingresa-tarea .md-form.md-outline{
  margin-bottom: 0;
  margin-top: 0;
}
.lista-tareas{
  text-align: initial;
}
.tarea .completado{
  text-decoration: line-through;
}
.pie-lista{
  font-size: 0.8em;
  padding-bottom: 15px;
}
.pie-lista .btn-pie{
  padding: 5px
}
.pie-lista .active{
  border: 1px solid #999;
  border-radius: 6px;
  
}
.bg-shadow{
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
